<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/87e39167-6114-4128-ae57-96ca724d3f4e/resourcegroups/Smit/providers/Microsoft.Web/sites/SmitsPieShopHRMserver20200420010612</ResourceId>
    <ResourceGroup>Smit</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://smitspieshophrmserver20200420010612.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>c71b89ae-221b-4400-92c1-a4d3435ec317</ProjectGuid>
    <MSDeployServiceURL>smitspieshophrmserver20200420010612.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SmitsPieShopHRMserver20200420010612</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SmitsPieShopHRMserver20200420010612</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <SkipDotNetCoreVersionCheck>true</SkipDotNetCoreVersionCheck>
  </PropertyGroup>
</Project>